<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2>Blog</h2>
    </div>
  </div>
</nav>
<br />
<br />
<br />
<br />
<div class="container" ng-view></div>